[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
fastapi = {extras = ["standard"], version = "*"}
sqlmodel = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
tenacity = "*"

[dev-packages]

[requires]
python_version = "3.13"
